<footer class="web-footer">
	<div class="container-fluid">
		<div class="row gx-5">
			<div class="col-lg-4 col-xxl-3">
				<div class="px-xxl-3 pb-2 pt-4">
					<a href="/" class="mb-3"><img src="/img/Logo_Gốc_No_BG.png" alt="SmartCarTech - Trang chủ" height="100"></a>
					<p class="fs-20 font-roboto-medium mb-3">Hiểu công nghệ, làm chủ chiếc xe.</p>
				</div>
			</div>
			<div class="col-lg-8 col-xxl-9">
				<div class="row mt-4 gx-5 gx-xxxl-15">

					<div class="col-md-6 col-xxl-3 d-flex flex-column mb-4">
						<h6 class="mb-0"> Sản Phẩm </h6>
						<hr>
						<ul class="bg-26 p-2 font-roboto-regular fs-20 h-100">
							<li>
								<a href="/product-landing.html">SC Tech Series</a>
							</li>

						</ul>
					</div>
					<div class="col-md-6 col-xxl-3 d-flex flex-column mb-4">
						<h6 class="mb-0"> Hướng Dẫn </h6>
						<hr>
						<ul class="bg-26 p-2 font-roboto-regular fs-20 h-100">
                            <li><a class="dropdown-item" href="/Instruction_SC_Tech.html">Arduino Bluetooth SC Tech</a></li>
                            <li><a class="dropdown-item" href="/Instruction_SC_Tech_Pro.html">Arduino Bluetooth SC Tech Pro</a></li>
                            <li><a class="dropdown-item" href="/Instruction_SC_Tech_Light.html">Arduino Bluetooth SC Tech Light</a></li>


						</ul>
					</div>

					<div class="col-md-6 col-xxl-3 d-flex flex-column mb-4">
						<h6 class="mb-0"> Download Code </h6>
						<hr>
						<ul class="bg-26 p-2 font-roboto-regular fs-20 h-100">
							<li>
								<a href="https://drive.google.com/drive/folders/1PurcY1TzcMV43oNoJn8Kobv6oSYnl2sU?usp=sharing" target="_blank"> Arduino Bluetooth SC Tech Pro</a>
							</li>
							<li>
								<a href="https://drive.google.com/drive/folders/113d7rKSxIG81S78AUKseEEhZFHUibgi3?usp=sharing" target="_blank"> Arduino Bluetooth SC Tech Light</a>
							</li>

							<li>
								<!-- <a href="#">aaa</a> -->
							</li>
							<li>
								<!-- <a href="#">bbb</a> -->
							</li>
						</ul>
					</div>

					<div class="col-md-6 col-xxl-3 d-flex flex-column mb-4">
						<h6 class="mb-0"> Liên Hệ </h6>
						<hr>
						<ul class="bg-26 p-2 font-roboto-regular fs-20 h-100">
							<li>
								<a href="https://zalo.me/0374489282" data-zalo-contact target="_blank" rel="noopener noreferrer">Zalo: 037.448.9282</a>
							</li>
							<li>
								<a href="https://www.facebook.com/smartcartechvietnam">Facebook</a>
							</li>
							<li>
								<a href="https://www.tiktok.com/@smartcartech">TikTok</a>
							</li>
							<li>
								<a href="https://www.youtube.com/@smartcartechvietnam">Youtube</a>
							</li>
							<li>
								<a href="mailto:smartcartech.vn@gmail.com">Mail: smartcartech.vn@gmail.com</a>
							</li>
							<li>
								<!-- <a href="#">DDD</a> -->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<p class="fs-15 cl-13 mb-0"> © 2023–<script>document.write(new Date().getFullYear())</script> SmartCarTech. All rights reserved. </p>
	</div>
</footer>
