<nav class="navbar web-navbar web-navbar-01 navbar-expand-xl fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand web-navbar-brand" href="/">
            <img src="/img/Logo_Gốc_No_BG.png" alt="SmartCarTech - Trang chủ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-4 mb-xl-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/product-landing.html">Sản Phẩm</a>

                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Hướng Dẫn</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Instruction_SC_Tech.html">Arduino Bluetooth SC Tech</a></li>
                        <li><a class="dropdown-item" href="/Instruction_SC_Tech_Pro.html">Arduino Bluetooth SC Tech Pro</a></li>
                        <li><a class="dropdown-item" href="/Instruction_SC_Tech_Light.html">Arduino Bluetooth SC Tech Light</a></li>

                        <!-- <li><a class="dropdown-item" href="#">ccc</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">ddd</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">eee</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">fff</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">ggg</a></li> -->
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Download Code</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1PurcY1TzcMV43oNoJn8Kobv6oSYnl2sU?usp=sharing" target="_blank"> Arduino Bluetooth SC Tech Pro</a></li>
                        <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/113d7rKSxIG81S78AUKseEEhZFHUibgi3?usp=sharing" target="_blank"> Arduino Bluetooth SC Tech Light</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liên Hệ</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://zalo.me/0374489282" data-zalo-contact target="_blank" rel="noopener noreferrer">Zalo: 037.448.9282</a></li>
                        <li><a class="dropdown-item" href="https://www.facebook.com/smartcartechvietnam">Facebook</a></li>
                        <li><a class="dropdown-item" href="https://www.tiktok.com/@smartcartech">TikTok</a></li>
                        <li><a class="dropdown-item" href="https://www.youtube.com/@smartcartechvietnam">Youtube</a></li>
                        <li><a class="dropdown-item" href="mailto:smartcartech.vn@gmail.com">Mail: smartcartech.vn@gmail.com</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex mb-3">
                <a href="https://www.tiktok.com/@smartcartech" class="web-btn web-btn-07 btn btn-bg-06 mr-3">Tik Tok</a>
                <a href="https://www.youtube.com/@SmartCarTechVietNam" class="web-btn web-btn-06 btn btn-bg-05">Youtube</a>
            </form>
        </div>
    </div>
</nav>
